body {
  background-color: #A9DFBF; 
  $color-tooltip: #76D7C4;
  display: flex;
  justify-content: center;
  .title-proy {
    text-align: center;
    color: #0033CC;
  }
  .container {   
    background-color: white;
    width: 1250px;
    padding: 10px ;
    box-shadow: 0 0  12px black;
    font: 10px Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    #title {
      font-size: 2.5rem;
    }
    #description {
      font-size: 1rem;
      margin-top: -15px;
    }
    .canvas {
      min-width: 1000px;
      min-height: 600px;
      //margin-top: 40px;
    }         
    #tooltip {
      font: 12px Arial, sans-serif;
      color: #212F3D;
      padding: 10px;
      background-color: $color-tooltip;
      border-radius: 5px;
      position: absolute ;
      opacity: 0;
    }    
    #legend
      rect {
        stroke: black;
        .tick {
           font-size: 0.7rem ;
        }
      }
    }

}
.county
  :hover {
      stroke: white; 
    }